<!-- Wrapper -->
   <div style = "float:left; width: 100%; background-color: black;">
      <!-- Active challenges -->
      <section id="main">
            <h1>Dashboard</h1>
   </div>

<!-- Wrapper -->

   <div style = "float: left; width: 600px; height: 600px; padding: 20px; z-index: 1">
      <!-- Active challenges -->
      <section id="main">
            <h1>Active challenges</h1>
            <table width = "460px" align = "center" style = "padding: 10px; border: 1px solid grey">
               <tr>
                  <td><u>Name</u></td>
                  <td><u>Status</u></td>
                  <td><u>Expiration</u></td>
                  <td><u></u></td>
               </tr>
               <tr>
                  <td>Campaign 1</td>
                  <td>2/6</td>
                  <td>Nov 1 @ 12:00PM</td>
                  <td><input id="submit_button" type="submit" value="Quit" /></td>
               </tr>
               <tr>
                  <td>Campaign 2</td>
                  <td>0/6</td>
                  <td>Dec 2 @ 1:00PM</td>
                  <td><input id="submit_button" type="submit" value="Quit" /></td>
               </tr>
               <tr>
                  <td>Campaign 3</td>
                  <td>4/6</td>
                  <td>Dec 6 @ 3:00PM</td>
                  <td><input id="submit_button" type="submit" value="Quit" /></td>
               </tr>
               <tr>
                  <td>Campaign 4</td>
                  <td>4/6</td>
                  <td>Dec 6 @ 3:00PM</td>
                  <td><input id="submit_button" type="submit" value="Quit" /></td>
               </tr>
               <tr>
                  <td>Campaign 5</td>
                  <td>4/6</td>
                  <td>Dec 6 @ 3:00PM</td>
                  <td><input id="submit_button" type="submit" value="Quit" /></td>
               </tr>
               <tr>
                  <td>Campaign 6</td>
                  <td>4/6</td>
                  <td>Dec 6 @ 3:00PM</td>
                  <td><input id="submit_button" type="submit" value="Quit" /></td>
               </tr>
               <tr>
                  <td>Campaign 1</td>
                  <td>2/6</td>
                  <td>Nov 1 @ 12:00PM</td>
                  <td><input id="submit_button" type="submit" value="Quit" /></td>
               </tr>
               <tr>
                  <td>Campaign 2</td>
                  <td>0/6</td>
                  <td>Dec 2 @ 1:00PM</td>
                  <td><input id="submit_button" type="submit" value="Quit" /></td>
               </tr>
               <tr>
                  <td>Campaign 3</td>
                  <td>4/6</td>
                  <td>Dec 6 @ 3:00PM</td>
                  <td><input id="submit_button" type="submit" value="Quit" /></td>
               </tr>
               <tr>
                  <td>Campaign 4</td>
                  <td>4/6</td>
                  <td>Dec 6 @ 3:00PM</td>
                  <td><input id="submit_button" type="submit" value="Quit" /></td>
               </tr>

            </table>
   </div>

   <div style = "float: right; width: 600px; padding: 20px">
      <!-- invites -->
      <section id="main">
            <h1>Invites</h1>
            <table width = "460px" align = "center" style = "padding: 10px; border: 1px solid grey">
               <tr>
                  <td><u>Name</u></td>
                  <td><u>Campaign</u></td>
                  <td><u></u></td>
               </tr>
               <tr>
                  <td>Kate</td>
                  <td>Campaign 7</td>
                  <td><input id="submit_button" type="submit" value="Accept" /></td>
               </tr>
               <tr>
                  <td>Ali</td>
                  <td>Campaign 8</td>
                  <td><input id="submit_button" type="submit" value="Accept" /></td>
               </tr>
            </table>
   </div>

   <div style = "float: right; width: 600px; padding: 20px">
      <!-- invites -->
      <section id="main">
            <h1>Campaigns</h1>
            <table width = "460px" align = "center" style = "padding: 10px; border: 1px solid grey">
               <tr>
                  <td><u>Campaign</u></td>
                  <td><u>Organization</u></td>
                  <td><u></u></td>
               </tr>
               <tr>
                  <td>My Campaign</td>
                  <td>IJM</td>
                  <td><input id="submit_button" type="submit" value="Edit" /></td>
               </tr>
               <tr>
                  <td>My Campaign</td>
                  <td>Humaine Society</td>
                  <td><input id="submit_button" type="submit" value="Edit" /></td>
               </tr>
            </table>
   </div>

<!-- Scripts -->
   <script>
      if ('addEventListener' in window) {
         window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
         document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
      }
   </script>
