<!--/.Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
   <div class="container">
      <a class="navbar-brand" href="#heading">Six Degree</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link" href="#about">How It Works</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#team">About Us</a>
            </li>
         </ul>
         <ul class="navbar-nav ml-auto nav-flex-icons">
            {{#if cur_user}}
               <li class="nav-item">
                  <a class="nav-link waves-effect waves-light" href="/profile">Hello, {{cur_user.username}}</a>
               </li>
               <li class="nav-item">
                  <a href="/logout" class="btn btn-deep-orange btn-sm wow fadeInRight" rel="nofollow">Log Out</a>
               </li>
               {{ else }}
               <li class="nav-item">
                  <a href="/signup" class="btn btn-light-green btn-sm wow fadeInRight" rel="nofollow">Sign Up</a>
               </li>
               <li class="nav-item">
                  <a href="/login" class="btn btn-primary btn-sm wow fadeInRight" rel="nofollow">Log In</a>
               </li>
            {{/if}}
         </ul>
      </div>
   </div>
</nav>

<!-- Intro  -->
<div id="heading" class="view hm-black-light">
   <div class="full-bg-img flex-center">
      <ul id="banner" class="wow fadeInUp">
         <li>
            <div class="row">
               <img src="/img/logo.png" style="color: white">
               &nbsp; &nbsp; &nbsp;
               <h1 class="h1-responsive font-bold" style="font-weight: bold; color: white; margin-top: 25px;">Six Degree</h1></li>


               <p style="margin-left: 40px">Get Involved Now</p>
            </div>
      </ul>
   </div>
</div>
<!-- ./Intro -->

<!-- Categories -->
<div id="categories" class="container-fluid">
   <div class="container">
      <h1 class="h1-responsive font-bold text-center">Campaigns</h1>
      <p class="text-center font-bold mb-5">Explore our compaigns</p>
      <div class="row">
         <div class="col-md-4">
            <h4 class="h4-responsive"></h4>
            <a href="#"><img src="img/animal.jpeg" class="categories-img img-fluid"></a>
         </div>
         <div class="col-md-4">
            <h4 class="h4-responsive"></h4>
            <a href="#"><img src="img/art.jpeg" class="categories-img img-fluid"></a>
         </div>
         <div class="col-md-4">
            <h4 class="h4-responsive"></h4>
            <a href="#"><img src="img/children.jpg" class="categories-img img-fluid"></a>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <h4 class="h4-responsive"></h4>
            <a href="#"><img src="img/comm_dev.jpeg" class="categories-img img-fluid"></a>
         </div>
         <div class="col-md-4">
            <h4 class="h4-responsive"></h4>
            <a href="#"><img src="img/education.jpeg" class="categories-img img-fluid"></a>
         </div>
         <div class="col-md-4">
            <h4 class="h4-responsive"></h4>
            <a href="#"><img src="img/environment.jpeg" class="categories-img img-fluid"></a>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4">
            <h4 class="h4-responsive"></h4>
            <a href="#"><img src="img/human_service.jpeg" class="categories-img img-fluid"></a>
         </div>
         <div class="col-md-4">
            <h4 class="h4-responsive"></h4>
            <a href="#"><img src="img/health_wellness.jpeg" class="categories-img img-fluid"></a>
         </div>
         <div class="col-md-4">
            <h4 class="h4-responsive"></h4>
            <a href="#"><img src="img/human_civil.jpeg" class="categories-img img-fluid"></a>
         </div>
      </div>
   </div>
</div>

<!-- How It Works -->
<div id="about" class="flex-container">
   <div class="container full-bg-img text-white">
      <div class="row wow fadeIn">
         <div class="col-lg-6 offset-lg-6">
            <h1 class="h1-responsive font-bold" style="color: white; font-weight: bold">OUR MISSION</h2>
        <p class="flex-center">
           We believe our shared compassion has the power to unite, motivate and bring about positive change.
           <br><br>
           That's why we're turning a light hearted game into a game changing movement that will directly benefit grassroots organizations while establishing a global intimacy.
           <br><br>
           Through our dedication to igniting a universal connection and our passion for making a tangible impact on people’s lives, we remain committed to achieving our vision of harnessing the kindness that connects us to make the greatest positive impact.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- ./How It Works -->

    <!-- The Team -->
    <div id="team" class="flex-container">
      <div class="container">
        <h1 class="h1-responsive wow fadeIn text-center font-bold" style="color: white; font-weight: bold">The Team</h2>
    <p class="text-center font-bold mb-5 wow fadeIn" data-wow-delay="0.2s">..... </p>

    <div class="row text-center">
      <div class="col-lg-4 mb-r wow fadeIn" data-wow-delay="0.2s">
        <div class="card">
          <div class="thumbnail">
            <a href="https://github.com/https://github.com/alexsmithmarist"></a>
          </div>
          <h4 class="h4-responsive font-bold">Alex Smithmarist</h4>
        </div>
      </div>
      <div class="col-lg-4 mb-r wow fadeIn" data-wow-delay="0.4s">
        <div class="card">
          <div class="thumbnail">
            <a href="https://github.com/katedominguez"></a>
          </div>
          <h4 class="h4-responsive font-bold">Ali Sytsma</h4>
        </div>
      </div>
      <div class="col-lg-4 mb-r wow fadeIn" data-wow-delay="0.6s">
        <div class="card">
          <div class="thumbnail">
            <a href="https://github.com/Dandanlin0702"></a>
          </div>
          <h4 class="h4-responsive font-bold">Dandan Lin</h4>
        </div>
      </div>
      <div class="col-lg-4 mb-r wow fadeIn" data-wow-delay="0.2s">
        <div class="card">
          <div class="thumbnail">
            <a href="https://github.com/katedominguez"></a>
          </div>
          <h4 class="h4-responsive font-bold">Kaitlyn Dominguez</h4>
        </div>
      </div>
      <div class="col-lg-4 mb-r wow fadeIn" data-wow-delay="0.4s">
        <div class="card">
          <div class="thumbnail">
            <a href="https://github.com/katedominguez"></a>
          </div>
          <h4 class="h4-responsive font-bold">Mohammed Mahmud</h4>
        </div>
      </div>
      <div class="col-lg-4 mb-r wow fadeIn" data-wow-delay="0.6s">
        <div class="card">
          <div class="thumbnail">
            <a href="https://github.com/olgakent"></a>
          </div>
          <h4 class="h4-responsive font-bold">Olga Kent</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ./The Team -->
<!-- Main Container -->

<!-- FB LOGIN -->

<!--Footer-->
<footer class="footer center-on-small-only">
  <a class="up-arrow text-white" href="#heading" data-toggle="tooltip" title="To Top">
      <i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
</footer>
<!--/.Footer-->
