<!--/.Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark mdb-color darken-1">
   <div class="container">
      <a class="navbar-brand" href="#heading">Six Degrees</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a class="nav-link" href="#about">How It Works</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#team">About Us</a>
            </li>
         </ul>
         <ul class="navbar-nav ml-auto nav-flex-icons">
            {{#if cur_user}}
               <li class="nav-item">
                  <a class="nav-link waves-effect waves-light" href="/profile">Hello, {{cur_user.username}}</a>
               </li>
               <li class="nav-item">
                  <a href="/logout" class="btn btn-deep-orange btn-sm wow fadeInRight" rel="nofollow">Log Out</a>
               </li>
               {{ else }}
               <li class="nav-item">
                  <a href="/signup" class="btn btn-light-green btn-sm wow fadeInRight" rel="nofollow">Sign Up</a>
               </li>
               <li class="nav-item">
                  <a href="/login" class="btn btn-primary btn-sm wow fadeInRight" rel="nofollow">Log In</a>
               </li>
            {{/if}}
         </ul>
      </div>
   </div>
</nav>
<section id="heading" class="bg-primary" id="about" style="height: 700px">
   <div class="container">
      <div class="full-bg-img flex-center">
         <li>
            <div class="row" style="margin-top: 150px; text-align: center">
               <img src="/img/logo.png" style="color: white"> &nbsp; &nbsp; &nbsp;
               <h1 class="h1-responsive font-bold" style="font-weight: bold; color: white; margin-top: 25px;">Six Degrees</h1></li>
         <p style="margin-left: 40px; margin-top: 200px">Get Involved Now</p>
         </div>
      </div>
   </div>
</section>

<section style="margin-top: 40px;">
   <div id="categories" class="container-fluid">
      <div class="container">
         <h1 class="section-heading" style="text-align: center">6 Degree Campaigns</h1>
         <hr class="primary">
         <div class="row">
            <div class="col-md-4">
               <h4 class="h4-responsive"></h4>
               <img src="img/animal.jpeg" class="categories-img img-fluid">
            </div>
            <div class="col-md-4">
               <h4 class="h4-responsive"></h4>
               <img src="img/art.jpeg" class="categories-img img-fluid">
            </div>
            <div class="col-md-4">
               <h4 class="h4-responsive"></h4>
               <img src="img/children.jpg" class="categories-img img-fluid">
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <h4 class="h4-responsive"></h4>
               <img src="img/comm_dev.jpeg" class="categories-img img-fluid">
            </div>
            <div class="col-md-4">
               <h4 class="h4-responsive"></h4>
               <img src="img/education.jpeg" class="categories-img img-fluid">
            </div>
            <div class="col-md-4">
               <h4 class="h4-responsive"></h4>
               <img src="img/environment.jpeg" class="categories-img img-fluid">
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <h4 class="h4-responsive"></h4>
               <img src="img/human_service.jpeg" class="categories-img img-fluid">
            </div>
            <div class="col-md-4">
               <h4 class="h4-responsive"></h4>
               <img src="img/health_wellness.jpeg" class="categories-img img-fluid">
            </div>
            <div class="col-md-4">
               <h4 class="h4-responsive"></h4>
               <img src="img/human_civil.jpeg" class="categories-img img-fluid">
            </div>
         </div>
      </div>
   </div>
</section>

<section id="services " style="margin-top: 40px ">
   <div class="container ">
      <div class="row ">
         <div class="col-lg-12 text-center ">
            <h1 class="section-heading " style="font-weight: bold ">What You Can Do</h1>
            <hr class="primary ">
         </div>
      </div>
   </div>

   <section id="main">
      <h2>Share Your Campaign!</h2>
      <p>Sharing your campaign on social media is the best way to get to the 6th Degree!
         <br>
         Connect with your friends to spread awareness, collect funds, and find volunteers!</p>
      <p>Click the platform to share your campaign on!
         <br>
         <div style="margin-top: 20px">
         <a href=""><i class="fa fa-2x fa-facebook text-primary sr-icons "></i></a>
         <a href=""><i class="fa fa-2x fa-twitter text-primary sr-icons "></i></a>
         <a href=""><i class="fa fa-2x fa-instagram text-primary sr-icons "></i></a>
      </div>
      </p>
   </section>
   <div class="container ">
      <div class="row ">
         <div class="col-lg-3 col-md-6 text-center ">
            <div class="service-box ">
               <i class="fa fa-4x fa-pencil text-primary sr-icons "></i>
               <h3>Sign Petition</h3>
               <p class="text-muted ">Sign the petition</p>
            </div>
         </div>
         <div class="col-lg-3 col-md-6 text-center ">
            <div class="service-box ">
               <i class="fa fa-4x fa-money text-primary sr-icons "></i>
               <h3>Donate</h3>
               <p class="text-muted ">Donate to us</p>
            </div>
         </div>
         <div class="col-lg-3 col-md-6 text-center ">
            <div class="service-box ">
               <i class="fa fa-4x fa-clock-o text-primary sr-icons "></i>
               <h3>Volunteer</h3>
               <p class="text-muted "></p>
            </div>
         </div>
         <div class="col-lg-3 col-md-6 text-center ">
            <div class="service-box ">
               <i class="fa fa-4x fa-share text-primary sr-icons "></i>
               <h3>Pass It Along</h3>
               <p class="text-muted ">You have to make your websites with love these days!</p>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- FB LOGIN -->

<section id="contact " style="margin-top: 40px ">
   <div class="container ">
      <div class="row ">
         <div class="col-lg-8 mx-auto text-center ">
            <h2 class="section-heading ">Let's Get In Touch!</h2>
            <hr class="primary ">
            <p>Like Our Project? Get Connected</p>
         </div>
      </div>
      <div class="row ">
         <div class="col-lg-4 ml-auto text-center ">
            <i class="fa fa-commenting fa-3x sr-contact "></i>
         </div>
         <div class="col-lg-4 mr-auto text-center ">
            <i class="fa fa-envelope-o fa-3x sr-contact "></i>
            <p>
               <a href="mailto:your-email@your-domain.com ">/heading</a>
            </p>
         </div>
      </div>
   </div>
</section>
