<!DOCTYPE HTML>
<!--
	Identity by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Creator Report</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">
		<!-- Wrapper -->
			<div style = "float:left; width: 100%; background-color: black;">
				<!-- Active challenges -->
				<section id="main">
						<h1>Campaign Report</h1>
			</div>

		<!-- Wrapper -->

			<div style = "float: left; width: 800px; height: 600px; padding: 20px; z-index: 1">
				<!-- Campaign Information -->
				<section id="main">
						<h1>Campaign Information</h1>
						<table width = "460px" align = "center" style = "padding: 10px; border: 1px solid grey">
							<tr>
								<td><u>Name</u></td>
								<td><u>Charity</u></td>
								<td><u>Description</u></td>
								<td><u>Hashtag</u></td>
                <td><u>End Date</u></td>
							</tr>
							<tr>
								<td>Campaign 1</td>
								<td>JP Morgan Chase & Co</td>
                <td>Code for Good in Jersey City!</td>
                <td>#CodeForGoodRocks</td>
								<td>Nov 1 @ 12:00PM</td>
								<td><input id="submit_button" type="submit" value="Quit" /></td>
							</tr>
							<tr>
								<td>Campaign 2</td>
								<td>6 Degrees</td>
                <td>Event featuring Kevin Bacon!</td>
                <td>#6DegreesKBacon</td>
								<td>Dec 2 @ 1:00PM</td>
								<td><input id="submit_button" type="submit" value="Quit" /></td>
							</tr>
							<tr>
								<td>Campaign 3</td>
								<td>6 Degrees</td>
                <td>Event featuring Kevin Bacon!</td>
                <td>#6DegreesKBacon</td>
								<td>Dec 2 @ 1:00PM</td>
								<td><input id="submit_button" type="submit" value="Quit" /></td>
							</tr>
							<tr>
								<td>Campaign 4</td>
								<td>6 Degrees</td>
                <td>Event featuring Kevin Bacon!</td>
                <td>#6DegreesKBacon</td>
								<td>Dec 2 @ 1:00PM</td>
								<td><input id="submit_button" type="submit" value="Quit" /></td>
							</tr>
							<tr>
								<td>Campaign 5</td>
								<td>6 Degrees</td>
                <td>Event featuring Kevin Bacon!</td>
                <td>#6DegreesKBacon</td>
								<td>Dec 2 @ 1:00PM</td>
								<td><input id="submit_button" type="submit" value="Quit" /></td>
							</tr>
							<tr>
								<td>Campaign 6</td>
								<td>6 Degrees</td>
                <td>Event featuring Kevin Bacon!</td>
                <td>#6DegreesKBacon</td>
								<td>Dec 2 @ 1:00PM</td>
								<td><input id="submit_button" type="submit" value="Quit" /></td>
							</tr>
							<tr>
								<td>Campaign 7</td>
								<td>6 Degrees</td>
                <td>Event featuring Kevin Bacon!</td>
                <td>#6DegreesKBacon</td>
								<td>Dec 2 @ 1:00PM</td>
								<td><input id="submit_button" type="submit" value="Quit" /></td>
							</tr>
							<tr>
								<td>Campaign 8</td>
								<td>6 Degrees</td>
                <td>Event featuring Kevin Bacon!</td>
                <td>#6DegreesKBacon</td>
								<td>Dec 2 @ 1:00PM</td>
								<td><input id="submit_button" type="submit" value="Quit" /></td>
							</tr>

						</table>
			</div>

			<div style = "float: right; width: 600px; padding: 20px">
				<!-- Campaign Challenges -->
				<section id="main">
						<h1>Challenges</h1>
						<table width = "460px" align = "center" style = "padding: 10px; border: 1px solid grey">
							<tr>
								<td><u>Challenge Number</u></td>
								<td><u>Campaign 2</u></td>
								<td><u>Type</u></td>
							</tr>
							<tr>
								<td>Challenge 1</td>
								<td>Campaign 2</td>
                <td>Share</td>
								<td><input id="submit_button" type="submit" value="Complete" /></td>
							</tr>
							<tr>
								<td>Challenge 2</td>
								<td>Campaign 4</td>
                <td>Donate</td>
								<td><input id="submit_button" type="submit" value="Complete" /></td>
							</tr>
						</table>
			</div>

			<div style = "float: right; width: 600px; padding: 20px">
				<!-- invites -->
				<section id="main">
						<h1>Your Rewards</h1>
            <p>For every challenge you complete the more Bacon Points you earn! </p>
            <p>It's easy to start earning Bacon Points! For every share of your campaign link after you share it, you get 5 Bacon Points!Rack up those points and you can get some awesome rewards!</p>
            <p>500 Bacon Points = An Autographed Head Shot From Kevin Bacon!</p>
            <p>1500 Bacon Points = A Shoutout From One of our 6 Degree Celebrities!</p>
            <p>2500 Bacon Points = Early Notices For Celebrity 6 Degree Event Surprises!</p>
						<table width = "460px" align = "center" style = "padding: 10px; border: 1px solid grey">
							<tr>
								<td><u>Your Bacon Points</u></td>
								<td><u>Rewards Earned</u></td>
								<td><u></u></td>
							</tr>
							<tr>
								<td>350</td>
								<td>None yet! Keep sharing!</td>
							</tr>
						</table>
			</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>
