<!--Main Navigation-->
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark mdb-color darken-1">
   <div class="container">
      <a class="navbar-brand" href="/">Six Degrees</a>
   </div>
</nav>

<head>
   <title>Password Reset</title>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="stylesheet" href="css/main.css" />
</head>

<body class="is-loading" style="background-image: /img/">
   <div class="container">
      <!-- Wrapper -->
      <div id="wrapper">
         <!-- Main -->
         <section id="main">
            <header>
               <img src="/img/logo2.png" width="50px" />
               <h1>Log in</h1>
               <p>We'll send you an email to reset your password</p>
               <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
                  <div class="row">
                     <label for="email">Email:</label><br />
                     <input id="email" class="input" name="email" type="email" value="" size="30" /><br/>
                  </div>
                  <input id="submit_button" type="submit" value="Send" />
               </form>
            </header>
         </section>
      </div>
   </div>
</body>
